.contact {
    padding-bottom: 184px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    background-image: url(../images/contact-bg.svg);
    &__inner {
        display: flex;
    }
    &__content {
        max-width: 415px;
        margin-right: 160px;
        width: 100%;
    }
    &__title {
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 10px;
        &::after {
            width: 128px;
            height: 2px;
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            background-color: $green;
        }
    }
    &__text {
        margin-bottom: 32px;
        p {
            @include lineClamp;
            -webkit-line-clamp: 3;
            &:nth-of-type(1) {
                margin-bottom: 32px;
                color: $grey;
            }
            &:nth-of-type(2) {
                margin-bottom: 32px;

            }
        }
    }
    &__form {
        max-width: 415px;
        width: 100%;
    }
    

    & .input {
        display: block;
        width: 100%;
        margin-bottom: 16px;
        height: 53px;
        border-radius: 8px;
        border: 1px solid $green;
        outline: transparent;
        padding-left: 24px;
        padding-right: 5px;
        transition: border-color 0.3s ease-in-out;
        &:focus {
            border-color: rgba($green, 0.7);
        }
        &::placeholder {
            color: #000;
        }
    }
    & .textarea {
        height: 150px;
        resize: none;
        padding-top: 11px;
    }



    &__file {
        position: relative;
        margin-bottom: 16px;
        height: 53px;
        border-radius: 8px;
        border: 1px solid $green;
        width: 100%;
        padding-left: 24px;
        display: flex;
        align-items: center;
    }

    &__label-file {
        position: absolute;
        padding: 0 21px;
        background-color: $green;
        right: 0;
        top: 0;
        height: 100%;
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition:  background-color 0.3s ease;
        &:hover {
            background-color: rgba($green, 0.8);
        }
        &:active {
            background-color: rgba($green, 0.8);
        }
    }

    &__input-file {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        position: absolute;
    }


    &__btn {
        width: 100%;
        margin-bottom: 16px;
        &:hover {
            box-shadow: 1px 1px 1px #525252;
        }
        &:active {
            box-shadow: 0 0 0 #646464;
        }
        &:focus {
            background-color: rgba($green, 0.7);
        }
    }


    &__label {
        position: relative;
        display: block;
        width: 275px;
        text-align: left;
        padding-left: 40px;
        font-size: 16px;
        cursor: pointer;
        &:hover .contact__text-contact {
            color: $green;
        }
        &:active .contact__text-contact {
            color: #000;
        }
        &--reviews {
            width: 100%;
        }
    }
    &__text-contact {
        transition: color .3s ease-in-out;
    }

    & .checkbox {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        position: absolute;
        &:checked + .contact__check {
            border-color: #000;
        }
        &:checked + .contact__check::after {
            opacity: 1;
        }
    }
    &__check {
        display: block;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid $green;
        transition: border-color 0.3s ease-in-out;
        &::after {
            position: absolute;
            content: '';
            width: 14px;
            height: 10px;
            background-image: url(../images/icons/check.svg);
            @include bg;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
    }
}