.catalogs-card {
    display: flex;
    flex-direction: column;
    height: 100%;


    border-radius: 8px;
    &__photo {
        position: relative;
        display: flex;
        height: 165px;
        max-width: 306px;
        width: 100%;
    }
    &__image {
        object-fit: cover;
        max-width: 100%;
    }
    &__tabs {
        position: absolute;
        padding: 2px 8px;
        font-size: 14px;
        color: #fff;
        background-color: $green;
        border-radius: 8px;
        &--day {
            left: 23px;
            bottom: -11px;
        }
        &--sale {
            background-color: $red;
            top: 16px;
            right: 24px;
        }
        &--tryst {
            background-color: #dbc81a;
            bottom: -11px;
            left: 90px;
        }
        &--purple {
            background-color: #7468c1;
            bottom: -11px;
            left: 110px;
        }
    }
    &__info {
        padding: 16px 24px;
        background-color: #effbef;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__time {
        display: flex;
        font-size: 14px;
        margin-bottom: 8px;
    }
    &__person,
    &__hour {
        position: relative;
        padding-left: 21px;
        &::after {
            position: absolute;
            content: '';
            left: 0;
            width: 15px;
            height: 15px;
            @include bg;
        }
    }
    &__hour {
        margin-right: 12px;
        &::after {
            background-image: url(../images/clock.svg);
        }
    }
    &__person {
        &::after {
            background-image: url(../images/users.svg);
        }
    }
    &__name {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 17px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
        p {

        }
    }
    &__text--more {
        display: none;
    }
    &__add {
        color: $green;
        margin-left: auto;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;
        background-color: transparent;
        border: none;
        transition: color 0.3s ease-in;
        outline: transparent;
        span {
            margin-right: 6px;
            display: block;
            border-bottom: 1px solid $green;
        }
        &:hover {
            color: #000;
        }
        &:hover .catalogs-card__icon{
            stroke: #000;
        }
        &:active {
            color: #303030;
        }
        &:active .catalogs-card__icon{
            stroke: #303030;
        }
        &:focus {
            color: $red;
        }
        &:focus .catalogs-card__icon{
            stroke: $red;
        }
    }
    &__icon {
        fill: none;
        stroke-width: 2px;
        stroke: $green;
        width: 13px;
        height: 7px;
        transition: transform 0.3s ease-in, stroke 0.3s ease-in;
        &--active {
            transform: rotate(180deg);
            transition: transform 0.3s ease-in;
        }
    }
    &__price {
        display: flex;
        margin-bottom: 8px;
        font-weight: 700;
    }
    &__price-new {
        display: flex;
        margin-right: 10px;
        &--red {
            color: $red;
        }
    }
    &__price-number {
        margin: 0 4px;
    }
    &__price-old {
        display: flex;
        text-decoration: line-through;
        color: #3a3a3a;
        span {
            margin-left: 4px;
            display: block;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn {
        padding: 10px 21px;
        border-radius: 8px;
        &:hover {
            background-color: rgba($green, 0.9);
        }
    }
    &__link {
        display: inline;
        font-size: 16px;
        color: $green;
        border-bottom: 1px solid $green;
        outline: transparent;
        transition: color 0.3s ease-in, border-color 0.3s ease-in;
        &:hover {
            color: #000;
            border-color: #000;
        }
        &:active {
            color: #303030;
            border-color: #303030;
        }
        &:focus {
            color: $red;
            border-color: $red;
        }
    }
}