<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__top">
                    <a class="logo footer__logo" href="#">
                        <img class="logo__images" src="images/logo.svg" alt="Логотип">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item menu__item--fotter">
                                <a class="menu__link menu__link--footer" href="#">Главная</a>
                            </li>
                            <li class="menu__item menu__item--fotter">
                                <a class="menu__link menu__link--footer" href="#">Экскурсии</a>
                            </li>
                            <li class="menu__item menu__item--fotter">
                                <a class="menu__link menu__link--footer" href="#">Контакты</a>
                            </li>
                            <li class="menu__item menu__item--fotter">
                                <a class="menu__link menu__link--footer" href="#">О нас</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__text">
                    <p>
                        Приятно, граждане, наблюдать, как сторонники тоталитаризма в науке, инициированные исключительно синтетически, объявлены нарушающими общечеловеческие нормы этики и морали.
                    </p>
                </div>
            </div>
            <div class="footer__right">
                <ul class="social footer__social">
                    <li class="social__item">
                        <a class="social__link social__link--footer" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--footer" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#whatsapp"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--footer" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--footer" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#contact-phone"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--footer" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#post"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a class="footer__tel" href="tel:+79999999999">
                    +7 999 999 99 99
                </a>
            </div>
        </div>
    </div>
    <div class="footer__copy">
        <div class="container">
            <div class="footer__copy-inner">
                <a class="footer__link footer__link--politic" href="#">
                    Политика конфиденциальности
                </a>
                <a class="footer__link footer__link--conditions" href="#">
                    Условия использования
                </a>
                <a class="footer__link footer__link--email" href="mailto:tngroup@2021">
                    tngroup@2021
                </a>
            </div>
        </div>
    </div>
</footer>