<section class="questions">
    <div class="container">
        <h2 class="title questions__title">Часто задаваемые вопросы</h2>
        <ul class="questions__inner">
            <li class="questions__item" style="margin-left: 13px;">
                <button class="questions__btn questions__btn--active" type="button" style="margin-left: -13px;">
                    Где мы встречаемся?
                    <svg class="questions__icon">
                        <use xlink:href="images/sprite.svg#arrow-down"></use>
                    </svg>
                </button>
                <div class="questions__text" style="max-height: 177px;">
                    <p>
                        Разнообразный и богатый опыт говорит нам, что высокотехнологичная концепция общественного уклада обеспечивает широкому кругу (специалистов) участие в формировании соответствующих условий активизации. 
                    </p>
                    <p>
                        Многие известные личности заблокированы в рамках своих собственных рациональных ограничений!
                    </p>
                </div>
            </li>
            <li class="questions__item">
                <button class="questions__btn" type="button">
                    Где мы встречаемся?
                    <svg class="questions__icon">
                        <use xlink:href="images/sprite.svg#arrow-down"></use>
                    </svg>
                </button>
                <div class="questions__text">
                    <p>
                        Разнообразный и богатый опыт говорит нам, что высокотехнологичная концепция общественного уклада обеспечивает широкому кругу (специалистов) участие в формировании соответствующих условий активизации. 
                    </p>
                    <p>
                        Многие известные личности заблокированы в рамках своих собственных рациональных ограничений!
                    </p>
                </div>
            </li>
            <li class="questions__item">
                <button class="questions__btn" type="button">
                    Где мы встречаемся?
                    <svg class="questions__icon">
                        <use xlink:href="images/sprite.svg#arrow-down"></use>
                    </svg>
                </button>
                <div class="questions__text">
                    <p>
                        Разнообразный и богатый опыт говорит нам, что высокотехнологичная концепция общественного уклада обеспечивает широкому кругу (специалистов) участие в формировании соответствующих условий активизации. 
                    </p>
                    <p>
                        Многие известные личности заблокированы в рамках своих собственных рациональных ограничений!
                    </p>
                </div>
            </li>
            <li class="questions__item">
                <button class="questions__btn" type="button">
                    Где мы встречаемся?
                    <svg class="questions__icon">
                        <use xlink:href="images/sprite.svg#arrow-down"></use>
                    </svg>
                </button>
                <div class="questions__text">
                    <p>
                        Разнообразный и богатый опыт говорит нам, что высокотехнологичная концепция общественного уклада обеспечивает широкому кругу (специалистов) участие в формировании соответствующих условий активизации. 
                    </p>
                    <p>
                        Многие известные личности заблокированы в рамках своих собственных рациональных ограничений!
                    </p>
                </div>
            </li>
            <li class="questions__item">
                <button class="questions__btn" type="button">
                    Где мы встречаемся?
                    <svg class="questions__icon">
                        <use xlink:href="images/sprite.svg#arrow-down"></use>
                    </svg>
                </button>
                <div class="questions__text">
                    <p>
                        Разнообразный и богатый опыт говорит нам, что высокотехнологичная концепция общественного уклада обеспечивает широкому кругу (специалистов) участие в формировании соответствующих условий активизации. 
                    </p>
                    <p>
                        Многие известные личности заблокированы в рамках своих собственных рациональных ограничений!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>