<section class="reviews popup-modal">
    <div class="container">
        <h2 class="reviews__title title">Отзывы</h2>
        <div class="reviews__slider">
            <ul class="reviews__wrapper">
                <li class="reviews__slide">
                    <img class="reviews__image" src="images/rewiew-1.png" alt="Антон">
                    <span class="reviews__name">Анастасия</span>
                    <div class="rating">
                        <div class="rating__item">
                            <input class="rating__input" type="radio" value="5" name="rating" id="rating-55">
                            <label class="rating__label" for="rating-55"></label>
                            <input class="rating__input" type="radio" value="4" name="rating" id="rating-44" >
                            <label class="rating__label" for="rating-44"></label>
                            <input class="rating__input" type="radio" value="3" name="rating" id="rating-33">
                            <label class="rating__label" for="rating-33"></label>
                            <input class="rating__input" type="radio" value="2" name="rating" id="rating-22" checked>
                            <label class="rating__label" for="rating-22"></label>
                            <input class="rating__input" type="radio" value="1" name="rating" id="rating-11">
                            <label class="rating__label" for="rating-11"></label>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Спасибо за прекрасную организацию экскурсии! Отлично поужинали на лодке в Дубай Марине! Очень удобно, что был трансфер от отеля и обратно, посмотрели на ночной Дубай, водитель- супер!thumbsup
                        </p>
                    </div>
                </li>
                <li class="reviews__slide">
                    <img class="reviews__image" src="images/rewiew-2.png" alt="Антон">
                    <span class="reviews__name">Лера</span>
                    <div class="rating">
                        <div class="rating__item">
                            <input class="rating__input" type="radio" value="5" name="rating" id="rating-555">
                            <label class="rating__label" for="rating-555"></label>
                            <input class="rating__input" type="radio" value="4" name="rating" id="rating-444" checked>
                            <label class="rating__label" for="rating-444"></label>
                            <input class="rating__input" type="radio" value="3" name="rating" id="rating-333">
                            <label class="rating__label" for="rating-333"></label>
                            <input class="rating__input" type="radio" value="2" name="rating" id="rating-222">
                            <label class="rating__label" for="rating-222"></label>
                            <input class="rating__input" type="radio" value="1" name="rating" id="rating-111">
                            <label class="rating__label" for="rating-111"></label>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Спасибо за прекрасную организацию экскурсии! Отлично поужинали на лодке в Дубай Марине! Очень удобно, что был трансфер от отеля и обратно, посмотрели на ночной Дубай, водитель- супер!thumbsup
                        </p>
                    </div>
                </li>
                <li class="reviews__slide">
                    <img class="reviews__image" src="images/rewiew-3.png" alt="Антон">
                    <span class="reviews__name">Лера</span>
                    <div class="rating">
                        <div class="rating__item">
                            <input class="rating__input" type="radio" value="5" name="rating" id="rating-5555">
                            <label class="rating__label" for="rating-5555"></label>
                            <input class="rating__input" type="radio" value="4" name="rating" id="rating-4444" checked>
                            <label class="rating__label" for="rating-4444"></label>
                            <input class="rating__input" type="radio" value="3" name="rating" id="rating-3333">
                            <label class="rating__label" for="rating-3333"></label>
                            <input class="rating__input" type="radio" value="2" name="rating" id="rating-2222">
                            <label class="rating__label" for="rating-2222"></label>
                            <input class="rating__input" type="radio" value="1" name="rating" id="rating-1111">
                            <label class="rating__label" for="rating-1111"></label>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Спасибо за прекрасную организацию экскурсии! Отлично поужинали на лодке в Дубай Марине! Очень удобно, что был трансфер от отеля и обратно, посмотрели на ночной Дубай, водитель- супер!thumbsup
                        </p>
                    </div>
                </li>
                <li class="reviews__slide">
                    <img class="reviews__image" src="images/rewiew-3.png" alt="Гриша">
                    <span class="reviews__name">Гриша</span>
                    <div class="rating">
                        <div class="rating__item">
                            <input class="rating__input" type="radio" value="5" name="rating" id="rating-5-5">
                            <label class="rating__label" for="rating-5-5"></label>
                            <input class="rating__input" type="radio" value="4" name="rating" id="rating-4-4" checked>
                            <label class="rating__label" for="rating-4-4"></label>
                            <input class="rating__input" type="radio" value="3" name="rating" id="rating-3-3">
                            <label class="rating__label" for="rating-3-3"></label>
                            <input class="rating__input" type="radio" value="2" name="rating" id="rating-2-2">
                            <label class="rating__label" for="rating-2-2"></label>
                            <input class="rating__input" type="radio" value="1" name="rating" id="rating-1-1">
                            <label class="rating__label" for="rating-1-1"></label>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Спасибо за прекрасную организацию экскурсии! Отлично поужинали на лодке в Дубай Марине! Очень удобно, что был трансфер от отеля и обратно, посмотрели на ночной Дубай, водитель- супер!thumbsup
                        </p>
                    </div>
                </li>
                <li class="reviews__slide">
                    <img class="reviews__image" src="images/rewiew-1.png" alt="Антон">
                    <span class="reviews__name">Лера</span>
                    <div class="rating">
                        <div class="rating__item">
                            <input class="rating__input" type="radio" value="5" name="rating" id="rating-5+">
                            <label class="rating__label" for="rating-5+"></label>
                            <input class="rating__input" type="radio" value="4" name="rating" id="rating-4+" checked>
                            <label class="rating__label" for="rating-4+"></label>
                            <input class="rating__input" type="radio" value="3" name="rating" id="rating-3+">
                            <label class="rating__label" for="rating-3+"></label>
                            <input class="rating__input" type="radio" value="2" name="rating" id="rating-2+">
                            <label class="rating__label" for="rating-2+"></label>
                            <input class="rating__input" type="radio" value="1" name="rating" id="rating-1+">
                            <label class="rating__label" for="rating-1+"></label>
                        </div>
                    </div>

                    <div class="reviews__text">
                        <p>
                            Спасибо за прекрасную организацию экскурсии! Отлично поужинали на лодке в Дубай Марине! Очень удобно, что был трансфер от отеля и обратно, посмотрели на ночной Дубай, водитель- супер!
                        </p>
                    </div>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
        <div class="reviews__callback">
            <div class="reviews__descr">Уже пользовались нашими услугами? 
                </div>
            <button class="reviews__button popup-btn" type="button">Оставьте отзыв</button>
        </div>
    </div>


    <div class="popup">
        <div class="popup__wrapper">
            <div class="popup__content">
                <form class="popup__form" action="#">
                    <h3 class="popup__title">Оставить отзыв</h3>
                    <p class="popup__descr">Расскажите что вам понравилось, а что нам стоит улучшить.</p>
                    <label class="visually-hidden">Поле для ввода Вашего имя</label>


                    <input class="input" type="text" name="name" placeholder="Имя">
                    <label class="visually-hidden">Поле для ввода Вашего телефона</label>
                    <input class="input" type="tel" name="tel" placeholder="Телефон">
                    <label class="visually-hidden">Поле для ввода Вашего отзыва</label>
                    <textarea class="input textarea" name="text" placeholder="Отзыв"></textarea>

                    <div class="popup__file">
                        Ваша фотография
                        <img class="popup__image" src="#">
                        <label class="popup__label-file">
                            <input class="popup__input-file" type="file" name="file">
                            Загрузить
                        </label>
                    </div>

                    <div class="popup__rating">
                        <span class="popup__description">Ваша оценка</span>
                        <div class="rating">
                            <div class="rating__item">
                                <input class="rating__input" type="radio" value="5" name="rating" id="rating-5">
                                <label class="rating__label" for="rating-5"></label>
                                <input class="rating__input" type="radio" value="4" name="rating" id="rating-4" checked>
                                <label class="rating__label" for="rating-4"></label>
                                <input class="rating__input" type="radio" value="3" name="rating" id="rating-3">
                                <label class="rating__label" for="rating-3"></label>
                                <input class="rating__input" type="radio" value="2" name="rating" id="rating-2">
                                <label class="rating__label" for="rating-2"></label>
                                <input class="rating__input" type="radio" value="1" name="rating" id="rating-1">
                                <label class="rating__label" for="rating-1"></label>
                            </div>
                        </div>
                    </div>

                    <button class="btn popup__btn" type="submit">Отправить</button>
                    <label class="popup__label popup__label--reviews">
                        <input class="checkbox" type="checkbox" name="check">
                        <span class="popup__check"></span>
                        <p class="popup__text">Я согласен на обработку персональных данных</p>
                    </label>
                </form>
                <button class="popup__btn-exit" type="button" aria-label="Закрытие модального окна">
                    <svg class="popup__exit">
                        <use xlink:href="images/sprite.svg#exit"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>


</section>